<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Swordsman_attack1_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-181,-4}</string>
                <key>spriteSize</key>
                <string>{185,189}</string>
                <key>spriteSourceSize</key>
                <string>{547,261}</string>
                <key>textureRect</key>
                <string>{{789,586},{185,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Swordsman_attack1_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-155,-8}</string>
                <key>spriteSize</key>
                <string>{201,179}</string>
                <key>spriteSourceSize</key>
                <string>{547,261}</string>
                <key>textureRect</key>
                <string>{{518,767},{201,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Swordsman_attack1_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-141,-16}</string>
                <key>spriteSize</key>
                <string>{195,161}</string>
                <key>spriteSourceSize</key>
                <string>{547,261}</string>
                <key>textureRect</key>
                <string>{{721,944},{195,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Swordsman_attack1_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-136,-18}</string>
                <key>spriteSize</key>
                <string>{197,155}</string>
                <key>spriteSourceSize</key>
                <string>{547,261}</string>
                <key>textureRect</key>
                <string>{{518,948},{197,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Swordsman_attack1_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,16}</string>
                <key>spriteSize</key>
                <string>{411,229}</string>
                <key>spriteSourceSize</key>
                <string>{547,261}</string>
                <key>textureRect</key>
                <string>{{518,166},{411,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Swordsman_attack1_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-5}</string>
                <key>spriteSize</key>
                <string>{501,181}</string>
                <key>spriteSourceSize</key>
                <string>{547,261}</string>
                <key>textureRect</key>
                <string>{{1,204},{501,181}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Swordsman_attack1_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-46,-9}</string>
                <key>spriteSize</key>
                <string>{415,173}</string>
                <key>spriteSourceSize</key>
                <string>{547,261}</string>
                <key>textureRect</key>
                <string>{{343,204},{415,173}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Swordsman_attack1_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-52,-2}</string>
                <key>spriteSize</key>
                <string>{385,187}</string>
                <key>spriteSourceSize</key>
                <string>{547,261}</string>
                <key>textureRect</key>
                <string>{{518,397},{385,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Swordsman_attack1_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-82,-6}</string>
                <key>spriteSize</key>
                <string>{361,183}</string>
                <key>spriteSourceSize</key>
                <string>{547,261}</string>
                <key>textureRect</key>
                <string>{{176,715},{361,183}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Swordsman_attack1_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-46,-8}</string>
                <key>spriteSize</key>
                <string>{375,173}</string>
                <key>spriteSourceSize</key>
                <string>{547,261}</string>
                <key>textureRect</key>
                <string>{{1,707},{375,173}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Swordsman_attack1_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-23}</string>
                <key>spriteSize</key>
                <string>{487,201}</string>
                <key>spriteSourceSize</key>
                <string>{547,261}</string>
                <key>textureRect</key>
                <string>{{1,1},{487,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Swordsman_attack1_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-113,-6}</string>
                <key>spriteSize</key>
                <string>{269,179}</string>
                <key>spriteSourceSize</key>
                <string>{547,261}</string>
                <key>textureRect</key>
                <string>{{518,586},{269,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Swordsman_attack1_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-15}</string>
                <key>spriteSize</key>
                <string>{471,163}</string>
                <key>spriteSourceSize</key>
                <string>{547,261}</string>
                <key>textureRect</key>
                <string>{{490,1},{471,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Swordsman_attack1_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-17}</string>
                <key>spriteSize</key>
                <string>{509,157}</string>
                <key>spriteSourceSize</key>
                <string>{547,261}</string>
                <key>textureRect</key>
                <string>{{184,204},{509,157}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Swordsman_attack1_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,-18}</string>
                <key>spriteSize</key>
                <string>{401,155}</string>
                <key>spriteSourceSize</key>
                <string>{547,261}</string>
                <key>textureRect</key>
                <string>{{361,621},{401,155}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Swordsman_attack1_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-147,-15}</string>
                <key>spriteSize</key>
                <string>{195,165}</string>
                <key>spriteSourceSize</key>
                <string>{547,261}</string>
                <key>textureRect</key>
                <string>{{721,777},{195,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Swordsman_attack1.png</string>
            <key>size</key>
            <string>{975,1106}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:43a63d37cf2b8a21f065d56d7b4b386b:fb3d7425e29fe66c7e2f041b0775d4e4:812cec2f567af5d490ef84933809800f$</string>
            <key>textureFileName</key>
            <string>Swordsman_attack1.png</string>
        </dict>
    </dict>
</plist>
